<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		
		<script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
	</head>
	<body>	
		<div th:replace="header :: menu"></div>
	
		<div class="container">

			<div class="row">
				
				<div class="span12">
				
					<h3>차량 메시지 관리</h3>
				
					<form method="post" action="message">
	    			<table>
	    				<tr>
	        				<td>
		        				<select name="messageOptions">
		  							<option value="0">직접 입력</option>
		  							<option value="1">통신 확인?</option>
		  							<option value="2">통신 끊김</option>
		  							<option value="3">목표 속도 = </option>
		  							<option value="4">피트인 피트인 피트인</option>	  							
								</select>
						    </td>
						    <td>
	        					<input name="message" type="text"/>					        				
							</td>
	 				   	</tr> 				   				  
	    				<tr>
	    					<td>
	    						<select name="messageReceiver">
		  							<option value="0">팀 전체</option>
		  							<option value="1">Arrow1</option>
		  							<option value="2">선두차</option>
		  							<option value="3">추적차</option>	  							
								</select>
	    					</td>
	        				<td>
	            				<input type="submit" value="메시지 전송"/>        				        				        				
	        				</td>
	    				</tr>
					</table>
					</form>
			</div>
			
			<div class="span12">
					<h3>지도 선택</h3>
					
					<table>
						<tbody>
							<tr>
								<td><a href="/maps/ArrowPoint_Strategy.kml">전략 속도 예측</a></td>
							</tr>
						</tbody>
					</table>
			</div>
			
			<div class="span12">
					<h3>알림 초기화</h3>
					
					<table>
						<tbody>
							<tr>
								<td><a href="/alertsReset">Alert LED 초기화</a></td>
							</tr>
						</tbody>
					</table>
			</div>
			
			<div class="span12">
				
					<h3>데이터 포인트 수동 입력</h3>
				
					<form method="post" action="dataPoint">
	    			<table>
	    				<tr>
	        				<td>
		        				<select name="dataPointOptions">
		  							<option value="0">수동 입력</option>
		  							<option value="13072">위도</option>
		  							<option value="13076">경도</option>
		  							<option value="13424">주행 거리 (m)</option>
		  							<option value="13428">남은 거리 (m)</option>
		  							<option value="16436">속도 (m/s)</option>
		  							<option value="13376">총 어레이 전력 (W)</option>
		  							<option value="13392">버스 전력 (W)</option>
		  							<option value="28484">SOC (%) (예: 0.94)</option>	  							
								</select>
						    </td>
						    <td>
						    	CAN 데이터포인트 ID (수동 입력 시) 
	        					<input name="dataPoint" type="text"/>					        				
							</td>
	 				   	</tr> 				   				  
	    				<tr>
	    					<td>
	    						Float 값
	    						<input name="fval" type="text"/>
	    					</td>
	        				<td>
	            				<input type="submit" value="패킷 전송"/>        				        				        				
	        				</td>
	    				</tr>
					</table>
					</form>
			</div>
			
			<div class="span12">
				
					<h3>GPS 수동 입력</h3>
				
					<form method="post" action="gps">
	    			<table>
	    				<tr>
						    <td>
						    	위도
	        					<input name="latitude" type="text"/>					        				
							</td>
	 				   	</tr> 				   				  
	    				<tr>
	    					<td>
	    						경도
	    						<input name="longitude" type="text"/>
	    					</td>
	    				</tr>
	    				<tr>
	        				<td>
	            				<input type="submit" value="패킷 전송"/>        				        				        				
	        				</td>	
	    				</tr>
					</table>
					</form>
			</div>			
			
			</div>
						
			<hr />
		
			<div th:replace="footer :: details"></div>
		
		</div>	

		<script src="/js/vendor/jquery-1.9.1.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('\x3Cscript type="text/javascript" src="/js/vendor/jquery-1.9.1.min.js">\x3C/script>');</script>
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.flot.js}"></script>		
	</body>
</html>
